html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /**1rem = 10px**/
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

header{
    background-color: gray;
}

.navegador-principal{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.navegador-principal a{
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegador-principal a:hover{
    background-color: #ffc107;
    color: black;
}

h1{
    text-align: center;
    font-size: 3.8rem;
}

.formulario{
    background-color: gray;
    width: min(70rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.contenedor-campos{
    display: grid;
    grid-template-columns: 100%;
    padding-left: 10rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.campo{
    margin-bottom: 1rem;
    justify-content: center;
}

.campo label{
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo input{
    width: 80%;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.boton{
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

.boton:hover{
    cursor: pointer;
}